 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sytle.css">
    <title>Document</title>
 </head>
 <body>
    <!-- header -->
     <div class="header">
            <div class="nav">
              <div class="homeSquare">
                <a href="#" id="homePage">Home</a>
              </div>
        
              <a href="#" id="aboutPage">About</a>
              <a href="#" id="CatalogPage">Catalog</a>
              <a href="#" id="BuyPage">Buy</a>
              <a href="#" id="SellPage">Sell</a>
              <a href="#" id="ContactPage">Contact</a>
              <input type="searchBar" name="searchBar" id="searchBar" placeholder="SearchBar">
              <button type="submit" class="searchButton"><i class="fas fa-search"></i></button>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="horziontalLine"></span>
            </div>
    </div>
    <!-- header -->
 </body>
 </html>
 
